body {
 font-family: sans;
}

#wrapper{
  width: 100%;
  overflow: hidden;
  border: 1px solid grey;
}


ul.locale-menu {
  width: 5%;
  font-size: small;
  padding: 1em 0;
  margin-top: 0;
  padding-left: 0.5em;
  margin-right: 2em;
}
ul.locale-menu li {
  padding-top: 0.3em;
}


ul.locale-menu li.active{
  background: yellow;
}
div#main{
  width: 88%;
}
ul.locale-menu, div#main {
  float: left;
}

tr.message td.label {
  font-size: small;
  max-width: 25%;
}

tr.message td.master-value {
  font-size: small;
  max-width: 25%;
}

tr.message td.locale-value {
  max-width: 35%;
}
tr.message td.locale-value input {
  width: 23em;
  border: 0;
}

