<ul class=locale-menu>
  <% for locale in locales
    active_class = params[:lang] === locale.lang_code ? 'class=active' : ''
    anchor = link_to(locale.lang_code, messages_path( :lang => locale.lang_code)) 
  %>
  <li <%=active_class%>><%=anchor%></li>
  <% end %>
</ul>
